*{
    
        margin:0;
         padding: 0;
         box-sizing: border-box;
         background-color: #FFFFFF;
         font-family: 'Roboto', sans-serif; 

    
}

h1{
    display: block;
    margin: 128px 277px 16px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
}

h3{
    font-style: normal;
    font-weight:400;
    font-size: 20px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px 15px;
}

input{
    background: #F2F2F7;
border-radius: 6px;
display: block;
margin: 102px 15px 0px;
width: 321px;
height: 48px;
padding: 0px 14px 0px;
border: none;
 

}
.input-password{
    margin-top: 12px;
    margin-bottom: 17px;
    
}

input::placeholder{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}

a{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
margin: 0px 16px 0px 236px;
text-decoration: none;
color: #007AFF;
display: block;
}

button{
    display: block;
    margin: 20px 10px 0px ;
    padding: 15px 151px;
    background: rgba(0, 0, 0, 0.94);
    border-radius: 10px;
    font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 22px;
border: none;
color: #FFFFFF;
cursor: pointer;
}

p{
    display: block;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: rgba(0, 0, 0, 0.51);
margin: 20px 75px 40px;

}

.link-a{
    margin: 0px;
    font-size: 15px;
}
